.about-info small {
  font-size: 0.5em;
  /* line-height: 0.5; */
}
.footer, .about-info,.footer a, .about-info a {
  color: #ddd;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-decoration: none;
}
.footer {
  min-height: 100px;
  padding: 20px;
  text-align: center;
}
.footer .contact {
  font-size: 1.2em;
  line-height: 1.5em;
}
.footer .contact img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.footer .contact a + a {
  margin-left: 20px;
}
.footer .license {
  color: #aaa;
}
.footer i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: text-bottom;
}
.github-icon {
  background-image: url(/images/Octocat.png);
}
.twitter-icon {
  background-image: url(/images/Twitter_logo_blue.png);
}
.linkedin-icon {
  background-image: url(/images/linkedin_88x72.png)
}
ul.posts {
  list-style:none;
  -webkit-padding-start: 0;
}
body {
  background-color: #333;
  font-family: 'Roboto', sans-serif
}
.main-content {
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgb(252, 250, 250);
}


h1.title {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Roboto-Bold', sans-serif;
}
h1.title .small {
  margin-top: 5px;
  font-family:'Roboto', sans-serif;
  font-size: 30%;
}
h1.title .small span + span {
  margin-left: 30px;
}
h1.title a {
  color: #111;
  -webkit-transition: all 1s ease;
  transition: all .4s ease;
  text-decoration:none;
}
h1.title a:hover, h1.title a:focus {
  color: #2a6496;
}
.post h2 {
  border-bottom: 2px solid rgba(1,1,1,0.1);
  padding-bottom: 3px;
}
.post {
  padding: 30px;
  padding-bottom: 80px;
}
.post + .post {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}
.post-content {
  font-size: 17px;
  line-height: 1.7;
}
blockquote {
  border-left-color: #2a6496;
  background-color: #eee;
}
