.about-info small {
  font-size: 0.5em;
  /* line-height: 0.5; */
}
.footer, .about-info,.footer a, .about-info a {
  color: #ddd;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-decoration: none;
}
.footer {
  min-height: 100px;
  padding: 20px;
  text-align: center;
}
.footer .contact {
  font-size: 1.2em;
  line-height: 1.5em;
}
.footer .contact img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.footer .contact a + a {
  margin-left: 20px;
}
.footer .license {
  color: #aaa;
}
.footer i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: text-bottom;
}
.github-icon {
  background-image: url(/images/Octocat.png);
}
.twitter-icon {
  background-image: url(/images/Twitter_logo_blue.png);
}
.linkedin-icon {
  background-image: url(/images/linkedin_88x72.png)
}
ul.posts {
  list-style:none;
  -webkit-padding-start: 0;
}
body {
  background-color: #333;
}
.main-content {
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgb(252, 250, 250);
}
