---
layout: default
title: Coder thoughts
---
<ul class="posts">
  {% for post in paginator.posts %}
    {% assign content=post.content %}
    {% assign page=post %}
    <li class="post">
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="small">
          <span><i class="icon-calendar"></i> {{ page.date | date_to_long_string }}</span>
          <span class="tags"><i class="icon-tags"></i> {{ page.categories | concat: page.tags | array_to_sentence_string }}</span>
        </p>
        {% if page.image %}
          <img class="post-image" alt="{{ page.title }}" src="{{ post.image | absolute_url }}">
        {% endif %}
        <p class="post-content">{{ post.excerpt | strip_html | truncate: 1000 }}</p>
        <div class="read-more">
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Read more</a>
        </div>
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="row pagination">
  <div class="pull-left">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Newer posts</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Newer posts</a>
    {% endif %}
  {% endif %}
  </div>
  <div class="pull-right clearfix">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}">Older posts</a>
    {% endif %}
  </div>
</div>
