---
layout: default
title: Coder thoughts
---
<ul class="posts">
  {% for post in paginator.posts %}
    {% assign content=post.content %}
    {% assign page=post %}
    <li class="post">
      {% include post.html %}
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="row pagination">
  <div class="pull-left">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Newer posts</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Newer posts</a>
    {% endif %}
  {% endif %}
  </div>
  <div class="pull-right clearfix">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}">Older posts</a>
    {% endif %}
  </div>
</div>
