<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="keywords" content="{{ page.tags | join: ', ' }} {{ page.categories | join: ', ' }}">

  {% seo %}

  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image | absolute_url }}">
  {% endif %}
  <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/generated.css">
  
  <link rel="stylesheet" href="/css/main.css">

  <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
  <div class="container">
    <div class="row">
      <section class="col-md-3 col-md-push-9 about-info">
        <div class="header">
          <h1>
            <a href="/">{{ site.name }}</a>
            <small>{{ site.description }}</small>
          </h1>
          <p class="me">
            <a href="#"><img class="img-circle" alt="Piotr Mionskowski" src="/images/me.jpg"></a>
            <a href="https://stackoverflow.com/users/155213/miensol"><i class="icon-stackoverflow"></i></a>
            <a href="https://twitter.com/miensol" rel="me"><i class="icon-twitter"></i></a>
            <a href="https://github.com/miensol" rel="me"><i class="icon-github-circled"></i></a>
            <a href="/feed.xml"><i class="icon-rss-squared"></i></a>
          </p>
        </div>
      </section>
      <section class="col-md-9 col-md-pull-3 main-content">
        {{ content }}
      </section>
    </div>
  </div>
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://miensol.pl/" rel="me">
          Piotr Mionskowski
        </a>
        <a href="https://github.com/miensol" rel="me"><i class="github-icon"></i></a>
        <a href="https://pl.linkedin.com/pub/piotr-mionskowski/16/585/b28/" rel="me"><i class="linkedin-icon"></i></a>
        <a href="https://twitter.com/miensol" rel="me"><i class="twitter-icon"></i></a>
      </p>
    </div>
    <div class="license">
      <p>
        {{site.copyRights}} <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>
      </p>
    </div>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49294874-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-49294874-1');
</script>
</body>
</html>
