<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

  <!-- syntax highlighting CSS -->
<!--   <link rel="stylesheet" href="/css/syntax.css"> -->
  <link rel="stylesheet" href="/css/github.css">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <link rel="shortcut icon" href="/images/favicon.ico" />

</head>

<body>
  <div class="container">
    <div class="row">
      <section class="col-md-3 col-md-push-9 about-info">
        <div class="header">
          <h1>
            <a href="/">{{ site.name }}</a>
            <small>{{ site.description }}</small>
          </h1>
          <p class="me">
            <a href="#"><img class="img-circle" alt="Piotr Mionskowski" src="/images/me.jpg"></a>
            <a href="/feed.xml"><i class="fa fa-3x fa-rss-square"></i></a>
            <a href="https://twitter.com/miensol" rel="me"><i class="fa fa-3x fa-twitter"></i></a>
            <a href="https://github.com/miensol" rel="me"><i class="fa fa-3x fa-github"></i></a>
          </p>
        </div>
      </section>
      <section class="col-md-9 col-md-pull-3 main-content">
        {{ content }}
      </section>
    </div>
  </div>
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://miensol.pl/" rel="me">
          Piotr Mionskowski
        </a>
        <a href="https://github.com/miensol" rel="me"><i class="github-icon"></i></a>
        <a href="https://pl.linkedin.com/pub/piotr-mionskowski/16/585/b28/" rel="me"><i class="linkedin-icon"></i></a>
        <a href="https://twitter.com/miensol" rel="me"><i class="twitter-icon"></i></a>
      </p>
    </div>
    <div class="license">
      <p>
        {{site.copyRights}} <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>
      </p>
    </div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49294874-1', 'miensol.pl');
    ga('send', 'pageview');

  </script>
</body>

</html>
